{{ 'article.css' | asset_url | stylesheet_tag }}
<style>
  .content-title-micuenta {
    display: grid !important;
    grid-template-columns: 2fr 8fr 2fr !important;
  }
  .content-title-micuenta div { 
      display: flex ;
      flex-direction: row;
      align-content: center;
      align-items: center;
  }
  .div_over_column_text_color_web {
      color: {{ section.settings.div_over_column_text_color_web }} !important;
  }
  .div_over_column_text_color_web a{
    color: {{ section.settings.div_over_column_text_color_web }} !important;
    display: flex ;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  @media (max-width: 668px) {
    .content-title-micuenta {
      display: flex !important;
      flex-direction: column-reverse !important;
    }
    .boton_exit_web{
      display: flex!important;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: flex-end;
    }
  }

</style>
<div class="container  ">
  {%- if section.settings.boton_exit_web == true -%} <div class="content-title-micuenta ">{%-endif-%}
  {%- if section.settings.show_page_title -%}
    {%- if section.settings.boton_exit_web == true -%}<div></div>{%-endif-%}
    <div class="reading-width rte mb-6 md:mb-8 md:mt-16 mx-auto">
      <h1 class="page__title lg:mt-8 {{ section.settings.heading_align }}">{{ page.title | escape }}</h1>
    </div>
    {%- if section.settings.boton_exit_web == true -%}
        <div class="boton_exit_web">
          {% # Close session button %}
          <a href="{{ routes.account_logout_url }}" data-no-instant >
            <span class="div_over_column_text_color_web" >{{ 'upango.customer.log_out' | t }} </span>
            {%- if section.settings.icon_exit != blank -%}
              <img src="{{ section.settings.icon_exit | image_url: width: 120 }}"/>
            {%-endif-%}
          </a>
          {%- if section.settings.boton_exit_web == true -%} </div >{%-endif-%}
      {%- endif -%}
  {%- endif -%}

  <div class="page__content reading-width rte article-content mt-12 mx-auto">
    {{ page.content }}
  </div>
</>

<script>
  document.querySelectorAll('.page__content table').forEach((table) => {
    const wrapper = document.createElement('div');
    wrapper.className = 'scrollable-table';
    table.parentNode.insertBefore(wrapper, table);
    wrapper.appendChild(table);
  });
</script>

{% schema %}
{
  "name": "Page",
  "class": "cc-main-page section section--template",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_page_title",
      "label": "Show the default page heading",
      "info": "If hidden, you should provide a primary page heading (h1 tag) in another section with h1 capability (e.g. image banner, slideshow or background video) for SEO purposes.",
      "default": true
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "checkbox",
      "id": "boton_exit_web",
      "default": false,
      "label": "Mostrar botón Cerrar Sesión"
    },
    {
      "type": "color",
      "id": "div_over_column_text_color_web",
      "label": "Color del texto ",
      "default": "#FFFFFF"
    },
    {
      "type": "image_picker",
      "label": "Icono salir",
      "id": "icon_exit"
    }
  ]
}
{% endschema %}
