{%- if section.index > 2 -%}
  <link rel="stylesheet" href="{{ 'featured-collection.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
{%- else -%}
  {{ 'featured-collection.css' | asset_url | stylesheet_tag }}
  {{ 'product.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if settings.card_hover_action == 'slideshow' -%}
  <script src="{{ 'product-card-image-slider.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if settings.enable_quick_add -%}
  <link rel="stylesheet" href="{{ 'quick-add.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'UPNG-variant-picker.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'custom-select.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- liquid
  # Funcionalidad para mostrar/ocultar productos privados
  assign mostrar_privado = customer.b2b?

  if section.settings.card_size_mobile == 'small'
    assign carousel_mobile_cols = 'grid-flow-col auto-cols-2 small-cards-mobile'
    assign grid_mobile_cols = 'grid-cols-2 small-cards-mobile'
    if section.settings.layout == 'carousel_on_mobile'
      assign carousel_mobile_cols = carousel_mobile_cols | append: ' sm:grid-cols-2'
    endif
  else
    assign carousel_mobile_cols = 'grid-flow-col auto-cols-1'
    assign grid_mobile_cols = 'grid-cols-1'
  endif

  if section.settings.layout == 'carousel'
    assign carousel = true

    if section.settings.card_size == 'small'
      assign grid_classes = carousel_mobile_cols | append: ' md:auto-cols-3 lg:auto-cols-4 xl:auto-cols-5 small-cards-desktop'
    elsif section.settings.card_size == 'medium'
      assign grid_classes = carousel_mobile_cols | append: ' sm:auto-cols-3 xl:auto-cols-4'
    else
      assign grid_classes = carousel_mobile_cols | append: ' sm:auto-cols-2 lg:auto-cols-3'
    endif
  elsif section.settings.layout == 'carousel_on_mobile'
    assign carousel = true

    if section.settings.card_size == 'small'
      assign grid_classes = carousel_mobile_cols | append: ' md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 small-cards-desktop'
    elsif section.settings.card_size == 'medium'
      assign grid_classes = carousel_mobile_cols | append: ' sm:grid-cols-3 xl:grid-cols-4'
    else
      assign grid_classes = carousel_mobile_cols | append: ' sm:grid-cols-2 lg:grid-cols-3'
    endif
  elsif section.settings.layout == 'grid'
    assign carousel = false

    if section.settings.card_size == 'small'
      assign grid_classes = grid_mobile_cols | append: ' md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 small-cards-desktop'
    elsif section.settings.card_size == 'medium'
      assign grid_classes = grid_mobile_cols | append: ' sm:grid-cols-3 xl:grid-cols-4'
    else
      assign grid_classes = grid_mobile_cols | append: ' sm:grid-cols-2 lg:grid-cols-3'
    endif
  endif

  assign color_scheme = section.settings.color_scheme
  assign bg_color = false

  if color_scheme == 'default'
    assign bg_color = settings.bg_color
  elsif color_scheme == '1'
    assign bg_color = settings.color_scheme_1_bg_grad | default: settings.color_scheme_1_bg
  elsif color_scheme == '2'
    assign bg_color = settings.color_scheme_2_bg_grad | default: settings.color_scheme_2_bg
  elsif color_scheme == '3'
    assign bg_color = settings.color_scheme_3_bg_grad | default: settings.color_scheme_3_bg
  endif

  if bg_color == settings.bg_color or bg_color == 'rgba(0,0,0,0)'
    assign bg_color = false
  endif
-%}

<div class="section">
  {%- if section.settings.title != blank or section.settings.view_all_url != blank -%}
    <div class="container">
      <div class="section__header items-center flex{% if section.settings.heading_align == 'text-center' %} flex-col text-center{% elsif section.settings.heading_align == 'text-end' %} flex-row-reverse flex-wrap{% else %} flex-row flex-wrap{% endif %} gap-x-theme"{% if settings.animations_enabled != "disabled" %} data-cc-animate{% endif %}>
        {%- if section.settings.title != blank -%}
          <h2 class="h4 mb-0 flex-auto section__heading {{ section.settings.heading_align }}">
            {{- section.settings.title | escape -}}
          </h2>
        {%- endif -%}

        {%- if section.settings.view_all_url != blank -%}
          <a href="{{ section.settings.view_all_url }}" class="link">{{ 'sections.featured_collection.view_all' | t }}</a>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}

  {% if section.blocks.size > 0 %}
    <div class="container">
      <div class="product-tabs" data-upng-tabs>
        <div class="product-tabs__headers mb-6 {% if section.settings.heading_align == 'text-center' %} justify-center text-center{% elsif section.settings.heading_align == 'text-end' %} justify-end flex-wrap{% else %} flex-row flex-wrap{% endif %} gap-x-theme"
          role="tablist"{% if settings.animations_enabled != "disabled" %} data-cc-animate{% endif %}>
          {% for block in section.blocks %}
            {% if block.settings.collection != blank %}
              {% assign collection = collections[block.settings.collection] %}
              <button class="product-tabs__header{% if forloop.first %} active{% endif %}" 
                id="tab-{{ section.id }}-{{ forloop.index }}-btn" 
                role="tab" 
                aria-selected="{% if forloop.first %}true{% else %}false{% endif %}" 
                aria-controls="tab-{{ section.id }}-{{ forloop.index }}-panel"
                tabindex="{% if forloop.first %}0{% else %}-1{% endif %}"
                data-tab-index="{{ forloop.index0 }}"
                data-translate="true"
                data-translate-key="tab-{{ section.id }}-{{ forloop.index }}-title">
                {{ block.settings.tab_title | default: collection.title }}
              </button>
            {% endif %}
          {% endfor %}
        </div>

        <div class="product-tabs__content">
          {% for block in section.blocks %}
            {% if block.settings.collection != blank %}
              {% assign collection = collections[block.settings.collection] %}
              <div id="tab-{{ section.id }}-{{ forloop.index }}-panel" 
                   class="product-tabs__panel{% if forloop.first %} active{% endif %}" 
                   role="tabpanel" 
                   aria-labelledby="tab-{{ section.id }}-{{ forloop.index }}-btn"
                   {% unless forloop.first %}hidden{% endunless %}>
                
                {%- if carousel -%}
                  <carousel-slider class="carousel block"{% unless forloop.first %} inactive{% endunless %}{% if section.settings.layout == 'carousel_on_mobile' %} disable-desktop="true"{% endif %} data-tab-carousel>
                    <div class="container relative">
                      <div class="slider" id="slider-{{ section.id }}-{{ forloop.index }}">
                      {%- endif -%}
                
                      <div class="container">
                        <ul class="{% if carousel %}slider__grid {% endif %}grid {{ grid_classes }} gap-x-theme gap-y-8{% if section.settings.card_size_mobile == 'small' and settings.card_contain %} small__grid{% endif %}" role="list">
                          {%- for product in collection.products limit: section.settings.products_to_show -%}
                            {% comment %} AJUSTE DE LOGICA PARA OCULTAR PRODUCTO PRIVADO A USUARIOS NO B2B  {% endcomment %}
                            {% if mostrar_privado %}
                            <li {% if carousel %}class="slider__item"{% endif %}{% if settings.animations_enabled != "disabled" %}data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"{% endif %}>
                              {% render 'product-card', product: product, image_ratio: settings.prod_card_image_ratio, show_highlight_product: section.settings.show_highlight_products %}
                            </li>
                          {%  else %}
                            {%  if product.metafields.upng.privado != true %}
                            <li {% if carousel %}class="slider__item"{% endif %}{% if settings.animations_enabled != "disabled" %}data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"{% endif %}>
                              {% render 'product-card', product: product, image_ratio: settings.prod_card_image_ratio, show_highlight_product: section.settings.show_highlight_products %}
                            </li>
                            {%  endif %}
                            {%  endif %}
                          {%- else -%}
                            {%- for i in (1..section.settings.products_to_show) -%}
                              {% if mostrar_privado %}
                              <li {% if carousel %}class="slider__item"{% endif %}{% if settings.animations_enabled != "disabled" %}data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"{% endif %}>
                                {% render 'product-card', product: "", image_ratio: settings.prod_card_image_ratio, show_highlight_product: section.settings.show_highlight_products %}
                              </li>
                            {% else %}
                              {% if product.metafields.upng.privado != true %}
                              <li {% if carousel %}class="slider__item"{% endif %}{% if settings.animations_enabled != "disabled" %}data-cc-animate data-cc-animate-delay="{{ forloop.index | times: 0.07 }}s"{% endif %}>
                                {% render 'product-card', product: "", image_ratio: settings.prod_card_image_ratio, show_highlight_product: section.settings.show_highlight_products %}
                              </li>
                              {% endif %}
                              {% endif %}
                            {%- endfor -%}
                          {%- endfor -%}
                        </ul>
                      </div>
                
                      {%- if carousel -%}
                      </div>
                
                      {%- if settings.slider_show_arrows != 'never' -%}
                        <div class="slider-nav absolute top-middle end {% if settings.slider_show_arrows == 'hover' %}slider-nav--show-on-hover no-hover-hidden {% endif %}hidden md:block no-js-hidden">
                          <button type="button" class="slider-nav__btn tap-target btn {{ settings.slider_button_style }} has-ltr-icon" name="next" aria-controls="slider-{{ section.id }}-{{ forloop.index }}">
                            <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
                            {% render 'icon-chevron-right' %}
                          </button>
                          <button type="button" class="slider-nav__btn tap-target btn {{ settings.slider_button_style }} has-ltr-icon" name="prev" aria-controls="slider-{{ section.id }}-{{ forloop.index }}">
                            <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
                            {% render 'icon-chevron-left' %}
                          </button>
                        </div>
                      {%- endif -%}
                    </div>
                  </carousel-slider>
                {%- endif -%}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

<style>
  .product-tabs__headers {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 0.5rem;
  }
  
  .product-tabs__header {
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: var(--font-weight-body);
    position: relative;
    color: var(--color-text);
  }
  
  .product-tabs__header.active {
    font-weight: var(--font-weight-bold);
    color: var(--color-heading);
  }
  
  .product-tabs__header.active::after {
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }
  
  .product-tabs__panel {
    display: none;
  }
  
  .product-tabs__panel.active {
    display: block;
  }
</style>

{% schema %}
{
  "name": "UPNG Products tabs",
  "tag": "section",
  "class": "cc-product-tabs cc-product-card-grid",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "UPANGO Collections with Tabs"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-start"
    },
    {
      "type": "url",
      "id": "view_all_url",
      "label": "View all link"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 8,
      "label": "Products to show per collection"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "carousel_on_mobile",
          "label": "Carousel on mobile"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ],
      "default": "carousel"
    },
    {
      "type": "select",
      "id": "card_size_mobile",
      "label": "Product card size on mobile",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "select",
      "id": "card_size",
      "label": "Product card size on large screens",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "small"
    },
    {
      "type": "checkbox",
      "id": "show_highlight_products",
      "label": "Show highlight products",
      "info": "To highlight a particular product card, add a \"True or false\" product metafield with the namespace and key \"theme.highlight\". See more settings in Theme Settings > Product cards > Highlighted cards.",
      "default": true
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        }
      ],
      "default": "default"
    }
  ],
  "blocks": [
  {
    "type": "collection",
    "name": "Collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "text",
        "id": "tab_title",
        "label": "Heading",
      }
    ]
  }
],
  "presets": [
    {
      "name": "UPNG Collections list with Tabs",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ],
  "disabled_on": {
    "templates": [
      "password"
    ],
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}