{% layout none %}
<table class="variant-table">
  <thead>
    <tr>
      <th scope="col" class="variant-table__header">Imagen</th>
      <th scope="col" class="variant-table__header">{{ product.options[0].name }}</th>
      <th scope="col" class="variant-table__header">{{ product.options[1].name }}</th>
      <th scope="col" class="variant-table__header">Estado</th>
      <th scope="col" class="variant-table__header">Stock</th>
      <th scope="col" class="variant-table__header">Cantidad</th>
      <th scope="col" class="variant-table__header">Precio</th>
    </tr>
  </thead>
  <tbody>
    {% for variant in product.variants %}
      <tr class="variant-table__row" data-variant-row="{{ variant.id }}">
        <td class="variant-table__cell">
          {% if variant.featured_image %}
            {{
              variant
              | image_url: width: 20
              | image_tag: class: 'variant-table__image', height: null, loading: 'lazy', alt: variant.title
            }}
          {% else %}
            {{
              product.featured_image
              | image_url: width: 20
              | image_tag: class: 'variant-table__image', height: null, loading: 'lazy', alt: product.title
            }}
          {% endif %}
        </td>
        <td class="variant-table__cell">{{ variant.option1 }}</td>
        <td class="variant-table__cell">{{ variant.option2 }}</td>
        <td class="variant-table__cell variant-table__cell--status">
          {% if variant.available %}

          {% else %}
            <button>
            {% render 'icon',
              icon: 'truck',
              height: 24,
              width: 24,
              class: 'variant-table__icon variant-table__icon--unavailable'
            %}
            </button>
          {% endif %}
        </td>
        <td class="variant-table__cell variant-table__cell--stock">
          <span class="variant-table__stock-quantity">
            {% if variant.inventory_management == 'shopify' %}
              {{ variant.inventory_quantity }}
            {% else %}
              ∞
            {% endif %}
          </span>
        </td>
        <td class="variant-table__cell">
          <div class="qty-input qty-input--combined inline-flex items-center">
            <button type="button" class="qty-input__btn btn btn--minus no-js-hidden" name="minus">
              <span class="visually-hidden">-</span>
            </button>
            <input
              type="number"
              class="quantity-input variant-table__quantity"
              min="0"
              value="0"
              data-variant-id="{{ variant.id }}"
              data-inventory-quantity="{% if variant.inventory_management == 'shopify' %}{{ variant.inventory_quantity }}{% else %}null{% endif %}"
              data-variant-title="{{ variant.title }}"
              {% unless variant.available %}
                disabled
              {% endunless %}
              aria-label="Cantidad para {{ variant.title }}"
            >
            <button type="button" class="qty-input__btn btn btn--plus no-js-hidden" name="plus">
              <span class="visually-hidden">+</span>
            </button>
          </div>
        </td>
        <td class="variant-table__cell variant-table__cell--price">
          <span class="variant-table__price">{{ variant.price | money }}</span>
          {% if variant.compare_at_price > variant.price %}
            <span class="variant-table__price variant-table__price--compare">
              {{- variant.compare_at_price | money -}}
            </span>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
