{% layout none %}

<tbody>
  {% assign selected_color = product.selected_variant.option1 %}
  
  {%- for size_value in product.options_with_values[1].values -%}

    {%- assign talla_variant = size_value.variant -%}
    {%- if talla_variant.option1 == selected_color -%}

    {% liquid
      # Metacampos de variante para validaciones de Input

      # Determinar si variante descatalogado / Fallback: vacio = false
      assign descatalogado = talla_variant.metafields.upng.descatalogado.value
      if talla_variant.metafields.upng.descatalogado.value == blank
       assign descatalogado = false
      endif

      # Determinar si variante privado / Fallback: vacio = false
      assign variante_privada = talla_variant.metafields.upng.privado
      if talla_variant.metafields.upng.privado == blank
       assign variante_privada = false
      endif
      
      # mostrar 'Avisame' cuando stock <= 0 y NO esta descatalogada la variante
      assign show_avisame = false
      if talla_variant.inventory_quantity <= 0 and descatalogado == false
        assign show_avisame = true
      endif

      # DESAROLLO CON MISMA LOGICA DEL MEDIA-GALLERY. SE BUSCA Y SE USA LA PRIMERA COINCIDENCIA DEL CODIGO DE ICONO-COLOR

      # Buscar Codigo Icono-color de Variante
      assign variant_color_code = talla_variant.option1 | split: ' - ' | first 
      assign matching_image = null

      for media in product.media
      # Encontrar la primera imagen con coincidencia del en nombre de media.src
      
      if media.media_type == 'image'
        # Obtener el nombre del archivo del URL 
        assign filename = media.src | split: '/' | last
        
        # Dividir por guiones y obtener el codigo (segunda posicion) 
        assign filename_parts = filename | split: '-'
        if filename_parts.size >= 2
          assign image_color_code = filename_parts[1]
          
          # Comparar con el codigo de la variante 
          if image_color_code == variant_color_code
            assign matching_image = media
            break
          endif
        endif
      endif
      endfor

      # Determinar permiso para ordenar
      assign can_order = false
      if customer.tags contains 'agente' or customer.tags contains 'main_contact' or customer.role == 'main_contact' or customer.metafields.upng-permission.allowOrder == true or customer.metafields.upng-permission.permitirSolicitudes == true
        assign can_order = true
      endif

      # Determinar permiso para ordenar
      assign can_see_prices = false
      if can_order and customer.metafields.upng-permission.verPrecios == true
        assign can_see_prices = true
      endif

    %}

    <tr class="variant-table__row" data-variant-row="{{ talla_variant.id }}">
      <td class="variant-table__cell">
        {% if matching_image %}
          {{
            matching_image
            | image_url: width: 50
            | image_tag: class: 'variant-table__image', height: null, loading: 'lazy', alt: talla_variant.title
          }}
        {% elsif product.featured_image %}
          {{
            product.featured_image
            | image_url: width: 50
            | image_tag: class: 'variant-table__image', height: null, loading: 'lazy', alt: product.title
          }}
        {% endif %}
      </td>
      <td class="variant-table__cell visually-hidden">{{ talla_variant.option1 }}</td>
      <td class="variant-table__cell variant-table__cell--size">{{ talla_variant.option2 }}</td>
      {% if customer.tags contains 'agente' or customer.tags contains 'main_contact' or customer.role == 'main_contact' or customer.metafields['upng-permission'].verStock %}
        <td class="variant-table__cell variant-table__cell--stock">
          {% render 'UPNG-stock-indicator', variant: talla_variant, descatalogado: descatalogado %}
        </td>
      {% endif %}
      <td class="variant-table__cell variant-table__cell--date">
        {% render 'UPNG-date-indicator', variant: talla_variant %}
      </td>
      <!--{{ show_avisame }}-->
      <td class="variant-table__cell variant-table__cell--status">
        {%  if show_avisame %}
           <button class="variant-table__button" variant-id="{{ talla_variant.id }}" tabindex="-1">
            {% render 'icon', icon: 'upng-avisame', height: 24, width: 24, class: 'variant-table__icon' %}
          </button>
        {% endif %}
      </td>
      <td class="variant-table__cell variant-table__cell--price">
        {% if can_order %}
          {% render 'upng-variant-price', variant: talla_variant, can_see_prices: can_see_prices %}
        {% endif %}
      </td>
      <td class="variant-table__cell variant-table__cell--quantity">

      {% comment %}
          Deshabilitar input en caso:
            - Si el Precio es igual a $0
            - Si esta descatalogado y el Stock disponible es 0
            - Si el cliente no tiene permisos para ordenar
      {% endcomment %}

      {% if can_order %}
        <div
          class="qty-input qty-input--combined inline-flex items-center"

          {% unless talla_variant.price != 0 %}
              style="background-color: rgb(239, 239, 239); border: 1px solid rgb(200, 200, 200)"
          {% endunless %}
          {% if descatalogado and talla_variant.inventory_quantity == 0 %}
            style="background-color: rgb(239, 239, 239); border: 1px solid rgb(200, 200, 200)"
          {% endif %}
        >
          <button
            type="button"
            class="qty-input__btn btn btn--minus no-js-hidden"
            name="minus"
            tabindex="-1"
          {% unless talla_variant.price != 0 %}
              style="background-color: rgb(239, 239, 239); pointer-events: none"
          {% endunless %}
          {% if descatalogado and talla_variant.inventory_quantity == 0 %}
            style="background-color: rgb(239, 239, 239); pointer-events: none"
          {% endif %}
          >
            <span class="visually-hidden">-</span>
          </button>
          <input
            type="number"
            class="quantity-input variant-table__quantity"
            min="0"
            {% if descatalogado %} max="{{ talla_variant.inventory_quantity }}" {% endif %}
            value="0"
            data-variant-id="{{ talla_variant.id }}"
            data-inventory-quantity="{% if talla_variant.inventory_management == 'shopify' %}{{ talla_variant.inventory_quantity }}{% else %}null{% endif %}"
            data-variant-title="{{ talla_variant.title }}"
            id="{{ talla_variant.id }}"
          {% unless talla_variant.price != 0 %}
              style="background-color: rgb(239, 239, 239); pointer-events: none; color: rgb(var(--input-text-color))"
          {% endunless %}
          {% if descatalogado and talla_variant.inventory_quantity == 0 %}
            style="background-color: rgb(239, 239, 239); pointer-events: none; color: rgb(var(--input-text-color))"
          {% endif %}
            aria-label="{{ 'custom.variant-table.quantity-for' | t: title: talla_variant.title }}"
          >
          <button
            type="button"
            class="qty-input__btn btn btn--plus no-js-hidden"
            name="plus"
            tabindex="-1"
          {% unless talla_variant.price != 0 %}
              style="background-color: rgb(239, 239, 239); pointer-events: none"
          {% endunless %}
          {% if descatalogado and talla_variant.inventory_quantity == 0 %}
            style="background-color: rgb(239, 239, 239); pointer-events: none"
          {% endif %}
          >
            <span class="visually-hidden">+</span>
          </button>
        </div>
        <div class="variant-table__remove-container hidden">
          <a
            class="cart-item__remove btn btn--icon text-current tap-target js-remove-item"
            href="javascript:void(0);"
            aria-label="{{- 'cart.items.remove' | t -}}"
            tabindex="-1"
          >
            {% render 'icon-trash', height: 16, width: 16 %}
          </a>
        </div>
      {% else %}
      {% endif %}
      </td>
    </tr>
    {% endif %}
  {% endfor %}
</tbody>
