{% layout none %}

{% if customer.b2b? %}
  <table class="variant-table">
    <thead>
      <tr>
        <th scope="col" class="variant-table__header table-header-left">{{ 'custom.variant-table.color' | t }}</th>
        <th scope="col" class="variant-table__header visually-hidden">{{ 'custom.variant-table.variant-name' | t }}</th>
        <th scope="col" class="variant-table__header">{{ 'custom.variant-table.size' | t }}</th>
        {% if customer.metafields['upng-permission'].verStock %}
          <th scope="col" class="variant-table__header">{{ 'custom.variant-table.stock' | t }}</th>
        {% endif %}
        <th scope="col" class="variant-table__header">{{ 'custom.variant-table.next-arrival' | t }}</th>
        <th scope="col" class="variant-table__header">{{ 'custom.variant-table.notify-me' | t }}</th>
        <th scope="col" class="variant-table__header">
          <span class="upng-price-wrapper--pvd">{{ 'custom.variant-table.discounted-price' | t }}</span>
        </th>
        <th scope="col" class="variant-table__header table-header-left">{{ 'custom.variant-table.quantity' | t }}</th>
      </tr>
    </thead>
    <tbody>
      {% for variant in product.variants %}
        <tr class="variant-table__row" data-variant-row="{{ variant.id }}">
          <td class="variant-table__cell">
            {% if variant.featured_image %}
              {{
                variant
                | image_url: width: 50
                | image_tag: class: 'variant-table__image', height: null, loading: 'lazy', alt: variant.title
              }}
            {% else %}
              {{
                product.featured_image
                | image_url: width: 50
                | image_tag: class: 'variant-table__image', height: null, loading: 'lazy', alt: product.title
              }}
            {% endif %}
          </td>
          <td class="variant-table__cell visually-hidden">{{ variant.option1 }}</td>
          <!-- Oculto - logica de mostrar / ocultar filas -->
          <td class="variant-table__cell">{{ variant.option2 }}</td>
          {% if customer.metafields['upng-permission'].verStock %}
            <td class="variant-table__cell variant-table__cell--stock">
              {% render 'UPNG-stock-indicator', variant: variant %}
            </td>
          {% endif %}
          <td class="variant-table__cell variant-table__cell--date">
            {% render 'UPNG-date-indicator', variant: variant %}
          </td>
          <td class="variant-table__cell variant-table__cell--status">
            {% if variant.available %}
            {% else %}
              <button class="variant-table__button" variant-id="{{ variant.id }}">
                {% render 'icon', icon: 'upng-avisame', height: 24, width: 24, class: 'variant-table__icon' %}
              </button>
            {% endif %}
          </td>
          <td class="variant-table__cell variant-table__cell--price">
            {% render 'price', product: product, use_variant: true %}
          </td>
          <td class="variant-table__cell variant-table__cell--quantity">
            <div
              class="qty-input qty-input--combined inline-flex items-center"
              {% unless variant.available %}
                style="background-color: rgb(239, 239, 239); pointer-events: none"
              {% endunless %}
            >
              <button
                type="button"
                class="qty-input__btn btn btn--minus no-js-hidden"
                name="minus"
                {% unless variant.available %}
                  disabled
                {% endunless %}
              >
                <span class="visually-hidden">-</span>
              </button>
              <input
                type="number"
                class="quantity-input variant-table__quantity"
                min="0"
                value="0"
                data-variant-id="{{ variant.id }}"
                data-inventory-quantity="{% if variant.inventory_management == 'shopify' %}{{ variant.inventory_quantity }}{% else %}null{% endif %}"
                data-variant-title="{{ variant.title }}"
                {% unless variant.available %}
                  disabled
                {% endunless %}
                aria-label="{{ 'custom.variant-table.quantity-for' | t: title: variant.title }}"
              >
              <button
                type="button"
                class="qty-input__btn btn btn--plus no-js-hidden"
                name="plus"
                {% unless variant.available %}
                  disabled
                {% endunless %}
              >
                <span class="visually-hidden">+</span>
              </button>
            </div>
            <div class="variant-table__remove-container hidden">
              <a
                class="cart-item__remove btn btn--icon text-current tap-target js-remove-item"
                href="javascript:void(0);"
                aria-label="{{- 'cart.items.remove' | t -}}"
              >
                {% render 'icon-trash', height: 16, width: 16 %}
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
      <tfoot>
        <tr class="variant-table__last-row">
          <td colspan="100%">
            <div class="flex justify-between">
              <div class="flex justify-start items-center gap-theme">
                <button
                  class="cart-item__remove btn btn--sm btn--icon text-current tap-target js-remove-item text-error-text variant-table__clear-button"
                  data-index="item.index | plus: 1 "
                  aria-label="{{- 'cart.items.remove' | t -}}"
                >
                  {% render 'icon-trash' %}
                  {{ 'custom.variant-table.clear-all' | t }}
                </button>
                <div class="variant-table__loader is-loading hidden"></div>
  
                <a href="{{ routes.cart_url }}" class="btn btn--secondary variant-table__view-cart-button">{{ 'custom.variant-table.view-cart' | t }}</a>
              </div>
              <div class="flex justify-end items-center gap-theme">
                <div class="upng-price-wrapper--pvd">
                  <span class="variant-table__total">{{ 'custom.variant-table.subtotal' | t }}:</span>
                  <span class="variant-table__subtotal-value"
                    ><strong>{{ 0 | money }}</strong></span
                  >
                </div>
                <div class="flex flex-col items-start" style="width: fit-content; padding-right: 3rem;">
                  <span class="variant-table__total-items-value"><strong>0</strong></span>
                  <span class="variant-table__total">{{ 'custom.variant-table.total-items' | t }}</span>
                </div>
              </div>
            </div>
          </td>
        </tr>
    </tfoot>
  </table>
{% else %}
  <table class="w-full">
    <tr class="variant-table__last-row">
      <td colspan="100%" class="text-center border-none">
        <a class="btn btn--secondary" href="{{settings.signup_page.url }}">{{ 'custom.variant-table.request-access' | t }}</a>
      </td>
    </tr>
  </table>
{% endif %}
